{% extends "page.html" %} {% load staticfiles %} {% block title %}Alternate Homepage{% endblock %} {% block css %} {{block.super}}
{% endblock %} {% block cont %}


<body>
    <div class="container-fluid">
        <div class="row">
			<div class="col-sm-12">
				
				<div style="position: fixed;
                            top: 50px;
                            left:10px;
                            display: inline-block;">
                                                              
					<p>Enter a function</p>
					<p><input type="text" id="funcDef" value=""></p>
					<p>Enter integer # of data points</p> 
					<p>Changing this number between</p> 
					<p>adding functions does not work yet</p> 
					<p>Give it a try</p>                             
					<p><input type="number" id="noPoints" value=50></p>
					<button onclick="enterDataSet()" id="enterDataSet">Plot Function</button>       
					<p><button onclick="processChecked()" id="removeDataset">Process Checked(not defined)</button></p>                 
					<p><button onclick="removeChecked()" id="removeDataset">Remove Checked</button></p>
					<p id="demo">Equation(s):</p>
					<p>Checking/unchecking/ removes/re-adds function</p>
					<ul id ="funcList"></ul>
					
				</div>
				<div  class="col-sm-8" style="display: inline-block; left:150px">
					<h1 style="">ROCr</h1>
					<div class="jumbotron">
						<canvas id="myChart" width="400" height="400"></canvas>
					</div>
				</div>
				<div class="col-sm-12" style="position: fixed; display: inline-block; left:920px">
					<p>Equations to try(just copy and paste them</p>
					<p> into the "Enter a function field): </p>
					<p><input type="text" id="not for use" value="(12/11)(asin(x))^(1/4)"></p>
					<p><input type="text" id="not for use" value="tanh(2x)"></p>
					<p><input type="text" id="not for use" value="x^(1/2)"></p>  
				</div>
			</div> 
		</div>
	</div>
   
    <br>
    <br>


</body>

<hr>
<footer>
</footer>
{% block js %} {{block.super}} {% endblock %}
<script src="{% static 'js/alt_homepage.js' %}"></script> {% endblock cont %}