{% extends "page.html" %}

{% block title %}Rocr{% endblock %}


{% block css %}
    {{block.super}}
{% endblock %}


{% block cont %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="jumbotron">
        <div class="container">
          <h1>Rocr</h1>
          <p>Welcome to Rocr! This website is used to upload images and determine
          if the image is a picture of food or not a picture of food!</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Example Chart</h2>

          </div>
        </div>
      </div> <!-- /container -->

    </div>
  </div>
</div>
        
<hr>
<footer>
  <p>&copy; 2017 Rocr, Inc.</p>
</footer>
{% block js %}
    {{block.super}}
{% endblock %}
{% endblock cont %}
